// main palette

$darkpurple: #be9fe1;
$midpurple: #c9b6e4;
$lightpurple: #e1ccec;
$bright: #f1f1f6;
$logoblue: #3a21e3;

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body,
ul,
button {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

main {
  padding: 2.5em;
  height: 100vh;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    text-align: right;

    nav ul {
      list-style: none;

      button {
        background: none;
        outline: none;
        border: none;
        margin: 5px 15px;
        font-size: 16px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .logo-box img {
      width: 50px;
    }
  }
}

.text-container {
  margin-top: 3em;

  font-size: 10vw;
  color: #696969;

  h2 {
    font-size: 20vw;
  }

  .stack {
    color: $logoblue;
  }
}

.title-container {
  height: 20vh;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;

  img {
    width: 25px;
    margin-right: 15px;
    filter: grayscale(100%);
    transition: 0.2s;

    &:hover {
      filter: grayscale(0%);
    }
  }
}

.button-container button {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  transition: 1s;
  color: #696969;

  &:hover {
    color: $logoblue;
  }
}

.arrow-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.arrow {
  padding: 10px;
  cursor: pointer;

  animation: example infinite 1s ease-out;
}

.work {
  padding: 2.5em;
  padding-top: 15px;
  padding-bottom: 1em;

  background-color: $bright;

  h1 {
    font-size: 30px;
    color: #696969;
  }
}

.project-container {
  background-color: white;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  .project-image {
    width: 100%;
  }

  .project-title {
    color: $logoblue;
    font-weight: 700;
    margin-left: 20px;
  }

  .project-text {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid $logoblue;
  }

  .tags-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 25px 20px 20px;
    .tag {
      font-size: 11px;
      padding: 5px;
      border: 1px solid $logoblue;
      border-radius: 5px;
      text-align: center;
      margin-right: 5px;
      box-shadow: 1px 1px 2px rgba(105, 105, 105, 0.5);
    }
  }
}

.code-text {
  margin-top: 20px;
  font-size: 12px;
  color: $logoblue;
}

footer {
  background: $bright;
  padding: 2.5em;

  button {
    background: none;
    outline: none;
    border: none;
  }

  ul {
    list-style: none;
  }

  .footer-span {
    color: $logoblue;
  }
}

.email {
  transition: 1s;
}

.reverse {
  transform: rotate(-90deg);
}

.email-span {
  display: none;
  color: $logoblue;

  cursor: text;

  margin-left: 10px;
}

@keyframes example {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(10px);
  }
}
